.list {
  flex: 1;
  background: white;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.exercise-heading {
  display: flex;
  padding: 16.5px 21px;
  align-items: center;
  gap: 18px;
  border-radius: 30px 30px 0px 0px;
  background: var(--primary-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-bottom: 0.5px solid var(--primary-grey-OP64);
}

.items {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;

  &::-webkit-scrollbar-thumb {
    border-radius: 30px; /* Applies border-radius */
  }

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;

    .item-detail {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        object-fit: cover;
        cursor: default;
      }

      span {
        padding: 0px 20px;
        cursor: pointer;
        font-size: 14px;
      }
      span:hover {
        border-right: 3px solid var(--primary-turquoise);
        border-left: 3px solid var(--primary-turquoise);
        color: var(--primary-turquoise);
      }
    }
    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}

.download {
  border-top: 0.5px solid var(--primary-grey-OP64);
  margin-top: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    padding: 0px 0px;
    width: 200px;
    height: 35px;

    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .list {
    display: none;
  }
}
