.center {
  padding: 20px;
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .message {
    max-width: 70%;
    display: flex;
    gap: 20px;

    &.own {
      align-self: flex-end;

      .texts {
        p {
          align-self: flex-end;
          background-color: var(--primary-turquoise);
          color: white;
        }
        span {
          padding-left: 0px;
          padding-right: 5px;
          align-self: flex-end;
        }
      }
    }
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }
    .texts {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .file-text {
        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          img {
            height: 40px;
            width: 40px;
          }

          p {
            padding: 20px 5px;
            color: var(--primary-grey);
            background-color: transparent;
          }
        }
      }

      img {
        width: 100%;
        height: 300px;
        border-radius: 10px;
        object-fit: cover;
      }

      p {
        align-self: flex-start;
        padding: 20px;
        background-color: #e9eaed;
        border-radius: 20px;
      }

      span {
        padding-right: 0px;
        padding-left: 5px;
        font-size: 13px;
        opacity: 50%;
      }
    }
  }
}
