@import url("Utilities.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --primary-broken-white: #e1e5f2;
  --primary-grey: #575757;
  --primary-grey-OP64: #57575764;
  --primary-turquoise: #257a8b;
  --primary-white: #fff;
  --primary-black: #000000;
}

html {
  overscroll-behavior: none;
}

br {
  display: block;
  content: "";
  margin-top: 5px;
}

body {
  background-color: var(--primary-broken-white);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: var(--primary-grey);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--primary-grey);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  background-color: var(--primary-grey);
  border: none;
  padding: 11px 34px;
  border-radius: 50px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  color: var(--primary-white);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-turquoise);
}

#register {
  width: 400px;
}

input {
  color: var(--primary-grey);
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  width: 300px;
  border: 0.5px solid var(--primary-grey);
}

select {
  color: var(--primary-grey);
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  width: 300px;
  border: 0.5px solid var(--primary-grey);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 50px;
  font-size: 50px;
  border-radius: 10%;
}

input:focus {
  outline: 1px solid var(--primary-turquoise);
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
    font-weight: 250;
  }

  input {
    width: 175px;
  }
}
