@import url("Utilities.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  overscroll-behavior: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #575757;
  line-height: 1.5;
  background-color: #e1e5f2;
}

a {
  text-decoration: none;
  color: #575757;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  background-color: #575757; /* Green */
  border: none;
  padding: 11px 34px;
  border-radius: 50px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  color: #fff;
  text-align: center;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
}

button:hover {
  background-color: #257a8b;
}
